<nav class="navbar nav-color">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <button class="navbar-toggler me-3 nav-border" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to root_path do %>
      <%= image_tag 'header.png', class: "header-img ms-2" %>
    <% end %>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <%= link_to 'Login / New', login_path, class: "btn-flat-border me-2 rounded-pill" %>
      </li>
    </ul>
  </div>
</nav>

