<nav class="navbar nav-color border">
  <div class="container-fluid d-flex justify-content-between align-items-center ms-2">
    
    <%= link_to root_path do %>
      <%= image_tag 'header.png', class: "header-img" %>
    <% end %>

    <% if request.path.start_with?(songs_path, search_path) %>
      <%= link_to new_song_path, class: "fs-1 me-3 add-btn", data: { turbo_frame: "modal" } do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    <% end %>

  </div>
</nav>
