<nav class="navbar navbar-expand-lg header-color">
  <div class="container-fluid d-flex justify-content-between align-items-center ms-3">
    <div class="header-button me-3">
      <%= link_to (t 'defaults.logout'), logout_path, class: "btn btn-outline-success text-end", data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" } %>
    </div>
  </div>
</nav>
