<nav class="navbar header-color">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <div class="d-flex justify-content-center ms-1">
      <%= image_tag 'icon.png' %>
    </div>

    <button class="navbar-toggler me-3 nav-border" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
