<%= form_with url: search_path, method: :get, class: 'd-flex align-items-center', data: { controller: 'itunes', action: 'input->itunes#submit' } do |f| %>
  <div class="my-3 flex-grow-1 input-wrapper">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <%= f.search_field :search, placeholder: (t 'defaults.placeholder'), class: 'form-control form-control-with-icon', data: { itunes_target: 'input' } %>
  </div>
  <%= link_to new_song_path, class: "ms-3 fs-1 plus", data: { turbo_frame: "modal" } do %>
    <i class="fa-solid fa-circle-plus"></i>
  <% end %>
<% end %>
