<%= form_with url: songs_path, method: :get do |f| %>
  <div class="input-wrapper mb-4">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <%= f.search_field :search, placeholder: (t 'defaults.placeholder'), class: 'form-control form-control-with-icon' %>
  </div>
<% end %>
