<ol class="list-group mt-2" data-controller="preview">
  <li class="list-group-item align-items-start d-flex list-card">
    <div class="d-flex align-items-center">
      <div class="potta-one">
        <h6 class="mb-1">
          <%= top_song.title %>
        </h6>
        <p class="artistname mb-0">
          <%= top_song.artist %>
        </p>
        <audio src="<%= top_song.preview_url %>" data-preview-target="audio"></audio>
      </div>
    </div>
    <div class="ms-auto align-self-center d-flex">
      <% if top_song.preview_url.present? %>
        <i class="fa-solid fa-circle-play play-icon fs-5 mt-2 pt-1 me-3" style="color: #ffba24;" data-action="click->preview#play" data-preview-target="icon"></i>
      <% end %>

    </div>
  </li>
</ol>
