<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 my-5">
      <h1 class="text-border text-center"><%= (t 'defaults.search') %></h1>
      <%= render "search_form" %>
      <% if @songs.present? %>
        <p class="mt-4 fs-5 potta-one ms-2 mb-1">人気曲</p>
        <%= render partial: "top_song", collection: @songs %>
      <% end %>
    </div>
  </div>
</div>
