<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 my-5">
      <h1 class="text-border text-center"><%= (t 'defaults.search') %></h1>
      <%= render "search_form" %>
      <p class="mt-4 fs-4 text-border ms-2 mb-1">Popular Song</p>
      <%= render partial: "top_song", collection: @songs %>
    </div>
  </div>
</div>
