<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 my-5">
      <%= render "search_form" %>
      <% if @songs.present? %>
        <%= render partial: "song", collection: @songs %>
      <% else %>
        <p class="text-center my-5 no-font">
          <%= (t '.no_result') %>
        </p>
      <% end %>
    </div>
  </div>
</div>
