<div class="container">
  <div class="row">
    <div class="col-10 offset-1 my-5">
      <%= render 'search_form' %>
      <%= turbo_frame_tag "itune-songs" do %>
        <% if @songs.present? %>
          <%= render partial: 'song', collection: @songs %>
        <% else %>
          <p class="text-center my-5">
            <%= (t '.no_result') %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
