<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="text-center my-5">カラオケを楽しむためのサービス</h3>
      <h5 class="text-center mb-5">使い方</h5>

      <ol class="how_to_list">
        <li>曲名を検索し、歌う際のキーを設定しリストに入れます（キーはいつでも変更できます）。</li>
        <li>リストから設定したキーを確認し、歌う際にデンモクで設定しましょう。</li>
        <li>カラオケを楽しもう！</li>
      </ol>

      <div class="text-center mt-5">
        <%= link_to 'はじめる', '#', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

