<div class="container">
  <div class="row">
    <div class="col-col-8 offset-col-2">
      <h1 class="text-center mt-5 mb-4 home-title">うぃずおけ。</h1>
      <p class="text-center no-font">本サービスは、<br>カラオケでよく歌う楽曲をキー設定と紐付けてリスト化することによって、<br>カラオケを快適に楽しめるようにするためのサービスです。</p>
      <p class="no-font text-center mt-5 fs-4">基本的な使い方</p>

      <ol class="mb-5 no-font" style="list-style-type: none;">
        <li class="mt-4 mb-3 text-center">1. まずはプレイリストを作成しましょう。</li>
        <li class="mb-3 text-center">2. 持ち歌を検索、またはヘッダーの右上から楽曲をプレイリストに追加しましょう。</li>
        <li class="mb-3 text-center">3. カラオケで歌う際に、設定したキーをリストから確認し、カラオケを楽しもう！</li>
      </ol>
    </div>
  </div>
</div>

