@import "bootstrap";

.how_to_list li {
  margin: 20px 0px;
}

.actions {
  width: 17%;
}

.form-control-with-icon {
  padding-left: 50px;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 20px;
  top: calc(70% - 0.5em);
}


