@import "bootstrap";

body {
  background-color: #fffefa;
}

.how_to_list li {
  margin: 20px 0px;
}

.actions {
  width: 17%;
}

.header-color {
  background-color: rgba(254, 255, 184, 0.4);
}

.nav-border {
  border-width: 1px;
  background-color: rgba(247, 214, 69, 0.464);
  border-color: rgb(255, 213, 97);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,255,255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-control-with-icon {
  padding-left: 50px;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 20px;
  top: calc(70% - 0.5em);
}

.search-icon {
  position: absolute;
  left: 20px;
  top: calc(50% - 0.5em);
}

.playlist_title {
  margin-left: 2rem;
}
