@import "bootstrap";

.nav-img {
  width: 220px;
}

body {
  background-color: #fffefa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.how_to_list li {
  margin: 20px 0px;
}

.actions {
  width: 17%;
}

.nav-color {
  background-color: rgb(249, 249, 216);
}

.form-control-with-icon {
  padding-left: 50px;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 20px;
  top: calc(70% - 0.5em);
}

.search-icon {
  position: absolute;
  left: 20px;
  top: calc(50% - 0.5em);
}

.bg-custom {
  background-color: rgb(249, 249, 216);
}

footer {
  background-color: white;
}

.modal-header {
  background-color: rgb(249, 249, 216);
}

.modal-body {
  background-color: #fffefa;
  overflow-y: auto;
}

.modal-footer {
  background-color: rgb(249, 249, 216);
}

.modal-dialog {
  max-height: calc(100% - 1rem);
}
