<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center text-border mt-5"><%= t('.title') %></h1>

      <div class="d-flex justify-content-end mt-5">
        <%= link_to 'New', new_playlist_path, class: "btn btn-outline-info btn-custom", data: { turbo_frame: "modal" }  %>
      </div>

      <div id="playlists">
        <%= render @playlists %>
        <p class="text-center text-border fs-5 my-5" id="no-result">
          <% unless @playlists.present? %>
            <%= t('defaults.no_playlist') %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
