<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="text-center my-5"><%= t('.title') %></h2>

      <div class="d-flex justify-content-end">
        <%= link_to t('.btn'), new_playlist_path, class: "btn btn-outline-success", data: { turbo_frame: "modal" }  %>
      </div>

      <div id="playlists">
        <% if @playlists.present? %>
          <%= render @playlists %>
        <% else %>
          <%= render 'no_result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
