<div class="container">
  <div class="row">
    <div class="col-8 offset-2 my-5">
      <% if @playlist.songs.present? %>
        <% @playlist.songs.each do |song| %>
          <%= render 'playlist_song', song: song %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
