<div class="container pb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card login-card mt-5">
        <div class="card-header p-0 mb-3" style="background: transparent;">
          <%= render "shared/tab" %>
        </div>
        <%= render "login_form" %>
      </div>
    </div>
  </div>
</div>
