<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card login-card mt-5">
        <div class="card-header p-0 mb-3" style="background: transparent;">
          <ul class="nav nav-pills nav-fill mb-0" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <%= link_to 'Sign in', login_path, class: "nav-link rounded-0 text-white border-end login-tab text-border", data: { turbo_frame: 'form' } %>
            </li>
            <li class="nav-item" role="presentation">
              <%= link_to 'Sign up', signup_path, class: "nav-link rounded-0 text-white login-tab text-border", data: { turbo_frame: 'form' } %>
            </li>
          </ul>
        </div>
        <%= turbo_frame_tag 'form' do %>
          <%= render 'login_form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
