<div class="container pb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card login-card mt-5">
        <div class="card-header p-0 mb-3" style="background: transparent;">
          <ul class="nav nav-pills nav-fill mb-0">
            <li class="nav-item">
              <%= link_to "Sign in", login_path, class: "nav-link rounded-0 text-white border-end login-tab text-border", data: { turbo_frame: 'form' } %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", signup_path, class: "nav-link rounded-0 text-white login-tab text-border", data: { turbo_frame: 'form' } %>
            </li>
          </ul>
        </div>
        <%= render "login_form" %>
      </div>
    </div>
  </div>
</div>
